In [2]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [11]:
# importing Proctor and Gamble data from yahoo finance
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1' )

In [12]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362394
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311395
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222139
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234891
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209391

In [13]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-02-24,126.589996,123.139999,125.260002,123.300003,7533900.0,123.300003
2020-02-25,123.959999,120.879997,123.019997,121.430000,8903200.0,121.430000
2020-02-26,122.389999,119.849998,121.419998,120.160004,6894200.0,120.160004
2020-02-27,119.919998,113.430000,119.120003,113.500000,13298900.0,113.500000
2020-02-28,113.230003,106.669998,109.459999,113.230003,22784300.0,113.230003

## Simple Rate of Return

In [14]:
PG['simple_return'] = (PG['Adj Close']/PG['Adj Close'].shift(1)) - 1

In [15]:
PG['simple_return']

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014142
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2020-02-24   -0.026835
2020-02-25   -0.015166
2020-02-26   -0.010459
2020-02-27   -0.055426
2020-02-28   -0.002379
Name: simple_return, Length: 6334, dtype: float64